:root {
  --white: hsl(0, 0%, 100%);
  --transparentWhite: hsla(0, 0%, 100%, 4%);
  --lightBlue: hsl(231, 77%, 90%);
  --gray: hsla(0, 0%, 59%, 90%);
  --black: hsl(230, 35%, 7%);
  --fontBarlow: "Barlow", sans-serif;
  --fontBarlowCondensed: "Barlow Condensed", sans-serif;
  --fontBellefair: "Bellefair", serif;
}
