@keyframes spreadout {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:is(.home, .destination, .crew, .technology) main {
  animation: fadein 1s ease-in-out;

  img {
    animation: spreadout 1s ease-in-out;
  }
}
